@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
