name: Test & Deploy

on: push

jobs:
  compile-test-ci:
    name: Compile assets and run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.0.11
      - name: Install dependencies
        run: bun install
      - name: Run Vite Build
        run: |
          bun run build
      - name: Setup PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: 8.2
          extensions: mbstring, bcmath, sqlite3, pdo_sqlite
      - name: Composer install
        run: composer install
      - name: Copy .env.example and generate key
        run: |
          cp .env.example .env
          php artisan key:generate
      - name: Run tests
        run: ./vendor/bin/pest
  deployment:
    name: Deployment
    runs-on: ubuntu-latest
    needs: [compile-test-ci]
    if:
      contains('refs/heads/main', github.ref)
    steps:
    - name: Trigger Laravel Forge deployment
      run: curl https://forge.laravel.com/servers/858134/sites/2523245/deploy/http?token==${{ secrets.FORGE_TOKEN }}